# PostgreSQL Client Authentication Configuration File
# Managed by Ansible
#
# TYPE  DATABASE        USER            ADDRESS                 METHOD

{% for entry in postgresql_hba_entries %}
{% if entry.type == 'local' %}
{{ entry.type }}   {{ entry.database }}             {{ entry.user }}                                    {{ entry.method }}
{% else %}
{{ entry.type }}    {{ entry.database }}             {{ entry.user }}            {{ entry.address }}            {{ entry.method }}
{% endif %}
{% endfor %}
