# {{ ansible_managed }}
# SSL Parameters

ssl_protocols {{ nginx_ssl_protocols }};
ssl_ciphers {{ nginx_ssl_ciphers }};
ssl_prefer_server_ciphers {{ nginx_ssl_prefer_server_ciphers }};
ssl_session_cache {{ nginx_ssl_session_cache }};
ssl_session_timeout {{ nginx_ssl_session_timeout }};
ssl_session_tickets {{ nginx_ssl_session_tickets }};
{% if nginx_ssl_dhparam is defined %}
ssl_dhparam {{ nginx_ssl_dhparam }};
{% endif %}
