---
dependency:
  name: galaxy
  options:
    requirements-file: requirements.yml
    force: false

driver:
  name: docker

platforms:
  - name: firewall-ubuntu
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    command: ""
    pre_build_image: true
    privileged: true
    cgroupns_mode: host
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    tmpfs:
      - /run
      - /tmp
    capabilities:
      - NET_ADMIN
      - NET_RAW
    docker_networks:
      - name: molecule-firewall
        ipam_config:
          - subnet: 10.10.10.0/24

  - name: firewall-rockylinux
    image: geerlingguy/docker-rockylinux9-ansible:latest
    command: ""
    pre_build_image: true
    privileged: true
    cgroupns_mode: host
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    tmpfs:
      - /run
      - /tmp
    capabilities:
      - NET_ADMIN
      - NET_RAW
    docker_networks:
      - name: molecule-firewall
        ipam_config:
          - subnet: 10.10.10.0/24

provisioner:
  name: ansible
  playbooks:
    converge: converge.yml
    verify: verify.yml
  inventory:
    host_vars:
      firewall-ubuntu:
        firewall_backend: ufw
      firewall-rockylinux:
        firewall_backend: firewalld
  env:
    ANSIBLE_ROLES_PATH: "${MOLECULE_PROJECT_DIRECTORY}/.."
    ANSIBLE_COLLECTIONS_PATH: "~/.ansible/collections:/usr/share/ansible/collections"
    ANSIBLE_ALLOW_BROKEN_CONDITIONALS: "true"
  config_options:
    defaults:
      callbacks_enabled: profile_tasks

verifier:
  name: ansible

scenario:
  name: default
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - verify
    - cleanup
    - destroy
