---
# Handlers for packages role

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  when: ansible_os_family == "Debian"

- name: Update yum cache
  ansible.builtin.dnf:
    update_cache: true
  when: ansible_os_family == "RedHat"
